<div class="jumbotron">
  <h1>Query your Bib!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          <!--Sidebar content-->
          <form ng-submit="search()">
           <span >
            <i class="icon-search"></i><strong>Search:</strong>
          </span>  <input class="input-xlarge" type="text" placeholder="Search Your Bib in the Cloud" ng-model="query" ng-change="search()" autofocus>
          <button ng-click="search()" class="btn btn-lg btn-success" type="button" type="submit" id="submit" >Search</button>
        </form>
      </div>
      <div   class="span12">
        <!-- <div ng-init="getSearchResultFacet()" > -->
          <!-- <span  ><span ng-show="onTypeFilter" class="badge badge-important">Filter ON : {{typeFilter}}</span></span> -->
<!-- 
          <div>Popular Type:</div>
          <div style="height:100px">
            <fs-bar bind="facetResultFacet" duration='700' align='left' height='100' width='500' on-click="filterSearchByType" />
          </div> -->
        <!-- ng-animate="'animate'" --><!-- 
        <span  ng-repeat="aTerm in facetResult"> <span class="badge badge-info">{{aTerm.term}}:{{aTerm.count}} </span></span> -->
        <!--Body content-->
      </div>

      <ul >
        <li  ng-repeat="result in results">
          <div  >
            <!-- <span ng-bind-html-unsafe="result.fields.file_meta.name | autocompleteHighlight:query"></span>  -->
            <!-- <span style="float:right" ng-bind-html-unsafe="result"></span> -->
            <span ng-show="result.fields.title" >{{result.fields.title}}</span> 
            <br>
            year:
            <span ng-show="result.fields.year" >{{result.fields.year}}</span>
            <br>
            authors:
            <span ng-show="result.fields.author" >
              <!-- {{result.fields.author}} -->
              <ul>
                <li  ng-repeat="a in result.fields.author">
                  {{a[0]}}, {{a[1]}}
                </li>
              </ul>
            </span> 

            <!-- <div ng-include src="result | fileTypeTemplateFilter" ng-model="fileTypeResult"> -->
          </div>
          <!-- <div> -->
           <!-- <span ng-bind-html-unsafe="result"></span> -->
         <!-- </div> -->
         <div >
          <!--             <a ng-href="/get/{{ result | downloadPath}}" target="_blank">Download<span ng-bind-html-unsafe="result.fields.file_meta.path | autocompleteHighlight:query"></span> </a> -->

        </div>

      </li>
    </ul>

 </div>
</p>
</div>
</div>
</div>
<div class="container">
<div class="footer">
  <p>♥ Code for Hong Kong</p>
</div>
</div>
